
<!DOCTYPE html>
<html lang="en">
<head>
    <title>emailconfirm</title>
</head>
<body>
<form th:action="@{/emailconfirm}" th:object="${EmailDto}"  method="post" >
    <div>
        <label for = "email"> email: </label>
        <input type="email" th:value = *{email} th:field="*{email}" id="email" name="email" readonly="true">
    </div>
    <div>
        <label for = "inputcode">valid code : </label>
        <input type="text" th:field="*{inputcode}" id="inputcode" name="inputcode">
    </div>
    <button type="submit" id="submit">submit</button>
</form>
</body>
</html>