<!DOCTYPE html>
<html lang="en">
<head>
    <title>signup</title>
</head>
<body>
<form th:action="@{/signup}"  th:object="${UserCreateDto}" method="post">
    <div>
        <label for = "email">학교 이메일 : </label>
        <input type="email" th:field = "*{email}" id="email" name="email">
    </div>
    <div>
        <label for = "name">이름 : </label>
        <input type="text" th:field = "*{name}" id="name" name="name">
    </div>
    <div>
        <label for = "id">학번 : </label>
        <input type="number" th:field = "*{id}" id="id" name="id">
    </div>
    <div>
        <label for = "password1">비밀번호 1 : </label>
        <input type="password" th:field = "*{password1}" id="password1" name="password1">
    </div>
    <div>
        <label for = "password2">비밀번호 2 : </label>
        <input type="password" th:field = "*{password2}" id="password2" name="password2">
    </div>
    <div>
        <label for = "nickname">닉네임 : </label>
        <input type="text" th:field = "*{nickname}" id="nickname" name="nickname">
    </div>

    <button type="submit" id="submit">submit</button>
</form>
</body>
</html>